configuration{
    modi: "run,drun,theme-menu:~/.config/rofi/scripts/rofi-themes";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-filebrowser: "🖿 Files";
    display-Network: " 󰤨  Network";
    display-theme-menu: "☕ Themes";
    sidebar-mode: true;
}

@theme "style-2"

