@theme "style-2"

configuration{
    modi: "drun,theme-menu:~/.config/rofi/scripts/rofi-themes,backgrounds:~/.config/rofi/scripts/rofi-backgrounds";
    show-icons: false;
    terminal: "kitty";
    drun-display-format: "{name}";
    display-theme-menu: "THEMES";
}


