/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    bg-col-trans:     #002B3680;
    background:     #002B36FF;
    foreground:     #EEE8D5FF;
    selected:       #268BD2FF;
    active:         #859900FF;
    urgent:         #DC322FFF;
}
