/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    bg-col-trans:     #F5E7DE80;
    background:     #F5E7DEFF;
    foreground:     #34302DFF;
    selected:       #D97742FF;
    active:         #BF8F60FF;
    urgent:         #B23636FF;
}
